
/*
  STYLESHEET:
	selector { property:value }

*/
p {
  font: arial, normal;
  font-size: 18px;
  color: blue;
  background-color: grey;
}

/*

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

*/
